
* {
   padding: 0;
   margin: 0;
}

/* Header/Nav Bar */
header {
    background-color: aquamarine;
    padding: 60px;
}

h1 {
    font-size: 150%;
    font-weight: bold;
    font-family: monospace;
    display: inline-block;
}

header div{
    font-family: monospace;
    float: left;
}

nav {
    list-style: none;
    display: inline-block;
    float:right;
}

nav ul li {
    display: inline-block;
    font-size: 150%;
    font-weight: bold;
    margin-left: 20px;
    font-family: monospace;
}

/* Image Styling/centering */

div img {
    border-radius: 50%;
    padding: 20px;
}

#image-center {
    display:flex;
    justify-content: center;
    align-items: center;
}

.image-inline {
    display: inline-block;
}



/* Card Styling */

#card-styles {
    padding: 30px;
    margin: 40px;
    background-color: aquamarine;
    line-height: 40px;
}

section header {
    padding:10px;
    font-weight:bold;
    font-size: 100%;
    font-family: monospace;

}

section div p {
    font-family: monospace;
    font-size:150%;
}

h2 {
    font-family: monospace;
    font-weight: bold;
    font-size:150%
}

/*Contact List*/
section ul {
    list-style: circle;
    font-size: 30px;
    font-family: monospace;
}

@media screen and (max-width: 992px) {
    header, h1, h2, li, nav ul li, section div p {
        font-size: 85%; 
    }
}

@media screen and (max-width: 768px){
    header, h1, h2, a, nav ul li, section div p {
        font-size: 70%; 
    }
}





